<div class="text-center">
	<div class="add-field">
		<select name="repeatSelect" id="repeatSelect" ng-model="form.id" ng-change="get()">>
      		<option ng-repeat="form in forms" value="{{form.id}}">{{form.name}}</option>
		</select>
	</div>
	<form-directive form="previewFormx"></form-directive>
</div>
<div class="text-center">
	<button class="btn btn-primary right" type="button" ng-click="calculate()"><i class="icon-eye-open icon-white"></i> Calculate</button>
	<a class="btn btn-small btn-primary" ng-show="!showJson" ng-click="showJson = true">Show form json object</a>
	<a class="btn btn-small btn-inverse" ng-show="showJson" ng-click="showJson = false">Hide form json object</a><br><br>
</div>

<div ng-show="showJson">
	<h4>Form object:</h4>
	<pre>{{ form | json }}</pre>
</div>
