<h2>{{ form.taxsystem_name}}</h2>

<div ng-show="!form.submitted">
    <div class="field row">
        <div class="span2">Form ID:</div>
        <div class="span4">{{ form.taxsystem_id }}</div>
    </div>
    <form name="myForm" id="myForm">
        <div ng-repeat="field in form.taxsystem_fields">
            <field-directive field="field">

            </field-directive>
        </div>
    </form>
</div>

<div ng-show="form.submitted">
    <h3>Submitted Data</h3>
    <div ng-repeat="field in form.taxsystem_fields">
        Field Title: {{ field.field_title }} <br>
        Field Value: {{ field.field_value }} <br><br>
    </div>
</div>
